## Lesson 07 - Logic, Loops, Lists, Tuples, and Dictionaries

### Readings

* Shaw: [Exercises 27-39](https://learnpythonthehardway.org/python3/ex27.html)
* Lutz: Chapters 8-13

### Table of Contents

* [Logic](#logic)
* [Aside: Ranges and Increments](#aside)
* [Loops](#loops)
* [Lists](#lists)
* [Tuples](#tuples)
* [Dictionaries](#dicts)
* [Other Types](#other)

<a id="logic"></a>

### Logic

The truth value (True, False) of statments is an important part of any programming language. In Python, logical values have a special data type called `bool`, named after Boolean logic and its founder George Boole (1815-1864).

#### Boolean Operations -- and, or, not

These are the Boolean operations, ordered by ascending priority:

Operation |	Result	 
----------|-------
x or y	  |  if x is false, then y, else x       
x and y	  |  if x is false, then x, else y        
not x	  |  if x is false, then True, else False


#### Comparisons

Comparison operations are supported by all objects. They all have the same priority, which is higher than that of the Boolean operations. Comparisons can be chained arbitrarily; for example, `x < y <= z` is equivalent to `x < y and y <= z`, except that `y` is evaluated only once (but in both cases `z` is not evaluated at all when `x < y` is found to be false).

This table summarizes the comparison operations:

Operation | Meaning
----------|--------
<	      | strictly less than	
<=	      | less than or equal	
>	      | strictly greater than	
>=	      | greater than or equal	
==	      | equal	
!=	      | not equal
is	      | object identity	
is not	  | negated object identity

In [1]:
2 == 1 + 1

True

In [2]:
'ab' == 'a' + 'b'

True

In [3]:
(2 == 1 + 1) and ('ab' == 'a' + 'b')

True

In [4]:
(5 > 4) or (2 < 1)

True

In [5]:
5 == 5.0

True

In [6]:
5 is 5.0

False

In [7]:
a = 5
b = 5
a is b

True

In [8]:
'aa' is 'aa'

True

In [9]:
'aa' != 'bb'

True

In [10]:
type(True)

bool

In [11]:
type(False)

bool

<a id="aside"></a>

### Aside: Ranges and Increments

#### Generating sequential lists of numbers

In [12]:
range(5)

range(0, 5)

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
range(1, 6)

range(1, 6)

In [15]:
list(range(1, 6))

[1, 2, 3, 4, 5]

#### Increment operator

Note: Python does not support the ++ operator from C, C++, and Perl.

In [16]:
i = 1
i = i + 1
i

2

In [17]:
i = 1
i += 1
i

2

In [18]:
j = 2
j = j * 3
j

6

In [19]:
j = 2
j *= 3
j

6

<a id="loops"></a>

### Loops

Loops and conditional tests are control structures that allow you to control flow through your program.

#### if Tests

	if <test1>:                 # if test
	    <statements1>           # Associated block
	elif <test2>:               # Optional elifs
	    <statements2>
	else:                       # Optional else
	    <statements3>

#### while Loops

	while <test>:               # Loop test
	    <statements1>           # Loop body
	else:                       # Optional else
	    <statements2>           # Run if didn't exit loop with break
	
	while <test1>:
	    <statements1>
	    if <test2>: break       # Exit loop now, skip else
	    if <test3>: continue    # Go to top of loop now, to test1
	else:
	    <statements2>           # Run if we didn't hit a 'break'
	
	break -- Jumps out of the closest enclosing loop (past the entire loop 
	  statement).
	continue -- Jumps to the top of the closest enclosing loop (to the loop’s 
	  header line).
	pass -- Does nothing at all: it’s an empty statement placeholder.
	else (loop block) -- Runs if and only if the loop is exited normally 
	  (i.e., without hitting a break).

#### for Loops

	for <target> in <object>:   # Assign object items to target
	    <statements>            # Repeated loop body: use target
	else:
	    <statements>            # If we didn't hit a 'break'
	
	for <target> in <object>:   # Assign object items to target
	    <statements>
	    if <test>: break        # Exit loop now, skip else
	    if <test>: continue     # Go to top of loop now
	else:
	    <statements>            # If we didn't hit a 'break'

#### if

In [20]:
if 1 < 2:
    print("The 'if' statement is true.")

The 'if' statement is true.

In [21]:
if 3 < 2:
    print("The 'if' statement is true.")
else:
    print("The 'if' statement is false.")

The 'if' statement is false.

In [22]:
# indentation matters -- uncomment the code below to see what happens
#if 1 < 2:
#print("The 'if' statement is true.")

#### for

In [23]:
for i in range(5): # same as: for i in [0, 1, 2, 3, 4]
    print('i is %s' % i)

i is 0
i is 1
i is 2
i is 3
i is 4

In [24]:
for i in range(5):
    print(i) # just to monitor where we are
    if i in [1, 2]:
        print("It's 1 or 2.")
    elif i in [3, 4]:
        print("It's 3 or 4.")
    else:
        print("It must be 0.")
        #break # comment this line to get the full output

0
It must be 0.
1
It's 1 or 2.
2
It's 1 or 2.
3
It's 3 or 4.
4
It's 3 or 4.

#### while

In [25]:
j = 0
while j <= 5:
    print(j)
    j += 1 # same as: j = j + 1
    #if j == 4:
        #break
else:
    print('All done.')

0
1
2
3
4
5
All done.

In [26]:
j

6

<a id="lists"></a>

### Lists

Lists (the `list` object type) is a sequence of items of the same type.

#### List indexing and operations

In [27]:
# a simple list of strings
L = ['alpha', 'bravo', 'charlie']
L

['alpha', 'bravo', 'charlie']

In [28]:
# number of items in the list
len(L)

3

In [29]:
# indexing by position
L[0]

'alpha'

In [30]:
# slicing a list returns a new list
L[:-1]

['alpha', 'bravo']

In [31]:
# concatenation makes a new list too
L + ['delta', 'echo', 'foxtrot']

['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot']

In [32]:
['delta', 'echo', 'foxtrot'] + L

['delta', 'echo', 'foxtrot', 'alpha', 'bravo', 'charlie']

In [33]:
# the original list is unchanged
L

['alpha', 'bravo', 'charlie']

In [34]:
# add object at end of list with append
L.append('end') 
L

['alpha', 'bravo', 'charlie', 'end']

In [35]:
# delete an item in middle of list with pop
L.pop(2)

'charlie'

In [36]:
# now L is changed
L

['alpha', 'bravo', 'end']

In [37]:
# insert a new item with insert
L.insert(2, 'middle')

In [38]:
L

['alpha', 'bravo', 'middle', 'end']

In [39]:
# replace an existing item with positional assignment
L[2] = 'xxx'

In [40]:
L

['alpha', 'bravo', 'xxx', 'end']

In [41]:
N = ['bb', 'aa', 'cc']

In [42]:
N

['bb', 'aa', 'cc']

In [43]:
N.sort()

In [44]:
N

['aa', 'bb', 'cc']

In [45]:
N.reverse()

In [46]:
N

['cc', 'bb', 'aa']

In [47]:
'bb' in N

True

#### Nested lists (like matrices)

In [48]:
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [49]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
M[1]

[4, 5, 6]

In [51]:
M[1][2]

6

#### List slicing

In [52]:
x = list(range(10))

In [53]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
x[0:5]

[0, 1, 2, 3, 4]

In [55]:
x[:5]

[0, 1, 2, 3, 4]

In [56]:
x[-5:]

[5, 6, 7, 8, 9]

In [57]:
x[2:5]

[2, 3, 4]

#### List comprehension (with for loops)

Example with/without list comprehension

In [58]:
# example without list comprehension
squares = []
for x in [1, 2, 3, 4, 5]:
    squares.append(x ** 2)

In [59]:
squares

[1, 4, 9, 16, 25]

In [60]:
# example with list comprehension
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]

In [61]:
squares

[1, 4, 9, 16, 25]

Example with string instead of list

In [62]:
doubles = [c * 2 for c in 'spam']

In [63]:
doubles

['ss', 'pp', 'aa', 'mm']

Examples with two-dimensional lists

In [64]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
# collect the items in column 2
col2 = [row[1] for row in M]

In [66]:
col2

[2, 5, 8]

In [67]:
# add 1 to each item in column 2
col2a = [row[1] + 1 for row in M]

In [68]:
col2a

[3, 6, 9]

In [69]:
# filter out odd items
col2b = [row[1] for row in M if row[1] % 2 == 0]

In [70]:
col2b

[2, 8]

In [71]:
# Collect a diagonal from matrix
diag = [M[i][i] for i in [0, 1, 2]]

In [72]:
diag

[1, 5, 9]

<a id="tuples"></a>

### Tuples

Tuples (the `tuple` object type) are similar to lists with two important differences:

1. Tuples are immutable, meaning they cannot be changed in place or appended to.
2. Tuples can be composed of mixed types of objects, whereas lists should contain a single kind of object.

In [73]:
T = (1, 2, 3, 4)

In [74]:
T

(1, 2, 3, 4)

In [75]:
T[0]

1

In [76]:
len(T)

4

In [77]:
T = T + (5, 6)
T

(1, 2, 3, 4, 5, 6)

In [78]:
# try to assign to a tuple
#T[0] = 2 # uncomment this and run to see what happens

Example on tuples vs. lists:

In [79]:
# here is a list of the same object type
["Bob", "Joe", "John", "Sam"]

['Bob', 'Joe', 'John', 'Sam']

In [80]:
# here is a list of different object types -- DON'T DO THIS
["Billy", "Bob", "Joe", 42]

['Billy', 'Bob', 'Joe', 42]

In [81]:
# use a tuple instead
[("Billy", "Bob", "Joe", 42), ("Robert", "", "Smith", 31)]

[('Billy', 'Bob', 'Joe', 42), ('Robert', '', 'Smith', 31)]

<a id="dicts"></a>

### Dictionaries

Dictionaries or dicts are objects that link key–value pairs. They can be useful for a variety of applications. `dict` is Python's implementation of the hash table.

In [82]:
# keys and values
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [83]:
D

{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [84]:
# fetch value of key 'food'
D['food']

'Spam'

In [85]:
D['quantity']

4

In [86]:
# add 1 to 'quantity' value
D['quantity'] += 1

In [87]:
D

{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

In [88]:
D = {} # empty dict: {}, empty string: '', empty list: [], empty tuple: ()

In [89]:
# create keys by assignment
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

In [90]:
D

{'name': 'Bob', 'job': 'dev', 'age': 40}

In [91]:
D['name']

'Bob'

In [92]:
# nested dictionaries
rec = {'name': {'first': 'Bob', 'last': 'Smith'}, 
       'job': ['developer', 'manager'],
       'age': 40.5}

In [93]:
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['developer', 'manager'],
 'age': 40.5}

In [94]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [95]:
# index the nested dictionary
rec['name']['last']

'Smith'

In [96]:
# 'job' is a nested list
rec['job']

['developer', 'manager']

In [97]:
# index the nested list
rec['job'][-1]

'manager'

In [98]:
# expand the job description in place
rec['job'].append('janitor')

In [99]:
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['developer', 'manager', 'janitor'],
 'age': 40.5}

In [100]:
# sorting keys with for loops
D = {}
D['d'] = 4
D['e'] = 5
D['a'] = 1
D['b'] = 2
D['c'] = 3

In [101]:
D

{'d': 4, 'e': 5, 'a': 1, 'b': 2, 'c': 3}

In [102]:
# iterate over dict keys (note the keys are not guaranteed to be in insertion order)
for key in D:
    print(key,D[key])

d 4
e 5
a 1
b 2
c 3

In [103]:
# iterate over dict key-value pairs and check for a value
for key, value in D.items():
    print(key,value)
    if (value == 5):
        print('Value 5 has Key %s.' % key)

d 4
e 5
Value 5 has Key e.
a 1
b 2
c 3

In [104]:
# iterate over sorted dict keys (sorted alphabetically)
for key in sorted(D):
    print(key,D[key])

a 1
b 2
c 3
d 4
e 5

In [105]:
# combine two lists (or tuples) into dictionary using dict(zip(list1, list2))
keys = ['name', 'job', 'zip_code', 'city']
values = ['Jon', 'student', '92037', 'La Jolla']
d = dict(zip(keys, values))
d

{'name': 'Jon', 'job': 'student', 'zip_code': '92037', 'city': 'La Jolla'}

In [106]:
# dict of dicts with zip
import random

ids = [random.randint(0,999999) for x in range(5)]

student1 = {'name': 'Adriana', 'year': 'G1', 'major': 'Marine Biology'}
student2 = {'name': 'Bernice', 'year': 'G2', 'major': 'Oceanography'}
student3 = {'name': 'Chelsea', 'year': 'G1', 'major': 'Climate Science'}
student4 = {'name': 'Dorothy', 'year': 'G3', 'major': 'Physics'}
student5 = {'name': 'Eleanor', 'year': 'G1', 'major': 'Business'}

directory = dict(zip(ids, [student1, student2, student3, student4, student5]))

In [107]:
directory

{927426: {'name': 'Adriana', 'year': 'G1', 'major': 'Marine Biology'},
 219539: {'name': 'Bernice', 'year': 'G2', 'major': 'Oceanography'},
 836857: {'name': 'Chelsea', 'year': 'G1', 'major': 'Climate Science'},
 799252: {'name': 'Dorothy', 'year': 'G3', 'major': 'Physics'},
 976432: {'name': 'Eleanor', 'year': 'G1', 'major': 'Business'}}

In [108]:
# check if key is in dict
student_list = ids + [random.randint(0,999999) for x in range(2)]
for student in student_list:
    if student in directory:
        print(student, directory[student]['name'])
    else:
        print('%s is not in the directory' % student)

927426 Adriana
219539 Bernice
836857 Chelsea
799252 Dorothy
976432 Eleanor
141910 is not in the directory
444284 is not in the directory

<a id="other"></a>

### Other Types

#### Sets

In [109]:
X = set('spammm')
Y = set(['h', 'a', 'm'])

In [110]:
X

{'a', 'm', 'p', 's'}

In [111]:
Y

{'a', 'h', 'm'}

In [112]:
intersection = X & Y

In [113]:
intersection

{'a', 'm'}

In [114]:
union = X | Y

In [115]:
union

{'a', 'h', 'm', 'p', 's'}

In [116]:
difference = X - Y

In [117]:
difference

{'p', 's'}

In [118]:
type(X)

set

#### Booleans

In [119]:
1 > 2, 1 < 2

(False, True)

In [120]:
bool(0), bool(1)

(False, True)

In [121]:
bool('spam')

True

In [122]:
True or False

True

In [123]:
False + 1

1

In [124]:
True + 1

2

In [125]:
True == 1

True

In [126]:
True is 1

False

In [127]:
False == 0

True

In [128]:
False is 0

False

In [129]:
type(1 > 2)

bool

#### None

In [130]:
X = None

In [131]:
X

In [132]:
print(X)

None

In [133]:
#None + 1 # uncomment this and run to see what happens

In [134]:
type(None)

NoneType

#### The `type()` function

In [135]:
type(1)

int

In [136]:
type(1.0)

float

In [137]:
type('1')

str

In [138]:
type([1, 2])

list

In [139]:
type((1, 2))

tuple

In [140]:
type({'a': 1})

dict

In [141]:
type({1, 2})

set

In [142]:
type(True)

bool

In [143]:
type(False)

bool

In [144]:
type(None)

NoneType