### Answers to Assignment 3 - Python Fundamentals I

Complete the tasks below. You should turn in a single Jupyter notebook named `3_first_last.ipynb` (substitute your first and last name); please run Kernel > Restart & Run All on your notebook before turning in. Also turn in the input CSV file used in question B3. For questions where Python scripts are used instead of the Jupyter notebook (questions A1, B1, B2), instructions are provided about pasting output/scripts into Markdown cells in your notebook.

#### A. Python basics, strings, printing (Shaw Exercises 1–10)

1. Take the file of Python code you generated in Exercise 1, called `ex1.py`, and run it on the command line. Copy the command and output from your terminal and paste it in a Markdown cell in your Jupyter notebook. (Ex1)
2. Print a sentence that contains a phrase in double quotes; print a sentence that contains an apostrophe. (Ex1)
3. Deliberately enter five incorrect commands (in separate cells) and interpret the error messages (in Markdown cells). (Ex1)
4. Add comments to your code in \#2 and \#3 explaining what is happening. (Ex2)
5. Write and evaluate five mathematical expressions. (Ex3)
6. Assign values to three numeric and three string variables. (Ex4)
7. Print values of the six variables you assigned in \#6. (Ex4–5)
8. Print two strings in raw format (%r formatter) and two strings in general/string format (%s formatter) with formatting characters. (Ch6)
9. Concatenate two strings into a third string, then find the length of all three strings.
10. Print the three strings from \#9 with a tab between the first and second and a newline between the second and third.
11. Print the three strings from \#9 with a stored formatter. (Ch7–8)
12. Print a piece of text with five lines using both newline characters and a text block. (Ex9)
13. Print a string containing a backslash, single-quote, double-qoute, newline, and tab. (Ex10)

#### B. Taking input, reading and writing files, functions (Shaw Exercises 11-26) 

1. Write some code, without using functions, that calculates the average of 5 numbers. Do it three different ways:

    - Write a .py file that takes input from the command line using `input()`. After the script works, paste the text of the file into your Jupyter notebook.
    - Write a .py file that takes input from the command line using `argv`. After the script works, paste the text of the file into your Jupyter notebook.
    - Enter code into two Jupyter notebooks cells: the first stores value as variables, and the second computes the average.

2. Using functions, write some code that takes two strings, prints them with the first letter capitalized, prints them with all letters capitalized, prints the first and last letter of each, prints the length of each, and then prints the concatenation of the two strings. Do it two different ways:

    - Write a .py file that uses `argv`. After the script works, paste the text of the file into your Jupyter notebook.
    - In your Jupyter notebook, comment out the `argv` portions and hard code in the values of your strings. Then make sure the code runs the same.

3. Using a text editor, create a comma-separated values (CSV) file with 5 columns and 5 rows. Save it in the same directory as your Jupyter notebook. In the Jupyter notebook, read and print the file in different ways, and write new files, as follows:

    - Read your CSV file using `read()`, `readline()`, or `readlines()`, and print the output to the screen (`print()` command is optional in notebooks!).
    - Do the same but use a `with` block and a different one of `read()`, `readline()`, or `readlines()`.
    - Using either of the two above methods to read in the file, then change one row of data (i.e., modify the string or list), then write your csv data to a new file.
    - Read your CSV file using Pandas and display the resulting DataFrame.
    - Save your DataFrame to a new file using Pandas.

---

#### Answer to A. Python basics, strings, printing (Shaw Exercises 1–10)

1. Take the file of Python code you generated in Exercise 1, called `ex1.py`, and run it on the command line. Copy the command and output from your terminal and paste it in a markdown cell in your Jupyter notebook. (Ex1)

Content of `ex1.py`:

```python
# ex1.py
print("Hello World!")
print("Hello Again")
print("I like typing this.")
print("This is fun.")
print('Yay! Printing.')
print("I'd much rather you 'not'.")
print('I "said" do not touch this.')
```

Answer:

```bash
$ python ex1.py
Hello World!
Hello Again
I like typing this.
This is fun.
Yay! Printing.
I'd much rather you 'not'.
I "said" do not touch this.
```

Note that the symbols \`\`\` around a block of text render that text as code not plaintext. A single newline between rows of plaintext must be separated with a `<BR>` to be rendered on separate lines.

2. Print a sentence that contains a phrase in double quotes; print a sentence that contains an apostrophe. (Ex1)

Answer:

In [1]:
# print the sentence with a comma separating it into two strings for readability
print('The Kuiper belt\'s over 100,000 "KBOs" (Kuiper belt objects)', 
      'are found 30 to 50 AUs from the Sun.')

The Kuiper belt's over 100,000 "KBOs" (Kuiper belt objects) are found 30 to 50 AUs from the Sun.

3. Deliberately enter five incorrect commands (in separate cells) and interpret the error messages. (Ex1)

Answer:

In [2]:
# print something -- which version of python is this?
print "No parentheses"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("No parentheses")? (<ipython-input-2-6f8f9919fdaf>, line 2)

Missing parentheses in call to 'print'. Python 3 requires parentheses around those objects to be printed.

In [3]:
# a sentence with an apostrophe
print('It's my birthday')

SyntaxError: invalid syntax (<ipython-input-3-df30210d2def>, line 2)

Invalid syntax. The single quote `'` either needs to be wrapped in double quotes `"` or escaped with `\`.

In [4]:
# let's try to increment x by 1
x = 5
x++

SyntaxError: invalid syntax (<ipython-input-4-5f1956aaaff5>, line 3)

Invalid syntax. Python does not support the `x++` increment operator or its variations. You can use `x += 1` or `x = x + 1`.

In [5]:
# list comprehension
x+1 for x in range(3)

SyntaxError: invalid syntax (<ipython-input-5-85a1509462b6>, line 2)

Invalid syntax. The list comprehension must be wrapped in square brackets like so: `[x+1 for x in range(3)]`.

In [6]:
# trying in vain to assign to a tuple
t = ('a', 'b', 'c')
t[3] = 'd'

TypeError: 'tuple' object does not support item assignment

Just what it says: 'tuple' object does not support item assignment. If you need to change a tuple, you should probably just use a list instead.

4. Add comments to your code in \#2 and \#3 explaining what is happening. (Ex2)

Answer: see above

5. Write and evaluate five mathematical expressions. (Ex3)

Answer:

In [7]:
2 + 5

7

In [8]:
2 * 5

10

In [9]:
2**5

32

In [10]:
2/5

0.4

In [11]:
2*11/7

3.142857142857143

Optional: Use the many features of the `math` module.

In [12]:
import math
math.pi

3.141592653589793

The mathematical constant $\pi$ differs from the quotient 22/7, an approximation of $\pi$, by only 0.04%.

In [13]:
(22/7 - math.pi) / math.pi

0.0004024994347707008

6. Assign values to three numeric and three string variables. (Ex4)

Answer:

In [14]:
num1 = 7
num2 = 11
num3 = num1 + num2
str1 = 'first'
str2 = 'second'
str3 = 'third'

7. Print values of the six variables you assigned in \#6. (Ex4–5)

Answer:

In [15]:
# note we can hit enter after the open-parentheses
print('The sum of the %s number (%s) and the %s number (%s) is the %s (%s).' % (
    str1, num1, str2, num2, str3, num3))

The sum of the first number (7) and the second number (11) is the third (18).

8. Print two strings in raw format (%r formatter) and two strings in general/string format (%s formatter) with formatting characters. (Ch6)

Answer:

In [16]:
# notice how the tab characters are rendered
print('%r\t%r\n%s\t%s' % ('hello', 'A\tB', 'hello', 'A\tB'))

'hello'	'A\tB'
hello	A	B

9. Concatenate two strings into a third string, then find the length of all three strings.

Answer:

In [17]:
s1 = 'Bird is '
s2 = 'the word'
s3 = s1 + s2
len(s3)

16

10. Print the three strings from \#9 with a tab between the first and second and a newline between the second and third.

Answer:

In [18]:
print('%s\t%s\n%s' % (s1, s2, s3))

Bird is 	the word
Bird is the word

11. Print the three strings from \#9 with a stored formatter. (Ch7–8)

Answer:

In [19]:
fmtr = '%s\t%s\n%s'
print(fmtr % (s1, s2, s3))

Bird is 	the word
Bird is the word

12. Print a piece of text with five lines using both newline characters and a text block. (Ex9)

Answer:

In [20]:
print('A mathematician, prophetic,\n'
      'invented a language, herpetic.\n'
      'decidedly brilliant,\n'
      'syntacticly elegant,\n'
      'Made ideas far less hypothetic.\n')

A mathematician, prophetic,
invented a language, herpetic.
decidedly brilliant,
syntacticly elegant,
Made ideas far less hypothetic.

In [21]:
print('''A mathematician, prophetic,
invented a language, herpetic.
decidedly brilliant,
syntacticly elegant,
Made ideas far less hypothetic.''')

A mathematician, prophetic,
invented a language, herpetic.
decidedly brilliant,
syntacticly elegant,
Made ideas far less hypothetic.

13. Print a string containing a backslash, single-quote, double-qoute, newline, and tab. (Ex10)

Answer:

In [22]:
print('This is a backslash \\, single-quote \', double-qoute ", newline,\nand a\ttab.')

This is a backslash \, single-quote ', double-qoute ", newline,
and a	tab.

#### Answer to B. Taking input, reading and writing files, functions (Shaw Exercises 11-26) 

1. Write some code, without using functions, that calculates the average of 5 numbers. Do it three different ways:

    - Write a .py file that takes input from the command line using `input()`. After the script works, paste the text of the file into your Jupyter notebook.
    - Write a .py file that takes input from the command line using `argv`. After the script works, paste the text of the file into your Jupyter notebook.
    - Enter code into two Jupyter notebooks cells: the first stores value as variables, and the second computes the average.

Answer for 1-1:

```python
# assign3_qB1-1.py
print('Hello! I am Average-Bot! Let me average five numbers please!')
n1 = float(input('Number 1? '))
n2 = float(input('Number 2? '))
n3 = float(input('Number 3? '))
n4 = float(input('Number 4? '))
n5 = float(input('Number 5? '))
print('Shazzam! The average is %s!' % ((n1+n2+n3+n4+n5)/5))
```

Notice we have to convert the entered numbers (strings) to floats.

Answer for 1-2:

```python
# assign_qB1-2.py
from sys import argv

x = len(argv)
if x != 6:
    print('Error! Only %s arguments!\n,'
          'Average-Bot requires five numbers as arguments please!' % x)
else:
    n1 = float(argv[1])
    n2 = float(argv[2])
    n3 = float(argv[3])
    n4 = float(argv[4])
    n5 = float(argv[5])
    print('Shazzam! The average is %s!' % ((n1+n2+n3+n4+n5)/5))
```

Again, notice we have to convert the entered numbers (strings) to floats. What would happen if we converted them to ints instead?

Answer for 1-3:

In [23]:
numbers = [1, 2, 3, 4, 5]
average = sum(numbers)/5
average

3.0

It's a lot easier to get input from the user when you are the user!

2. Using functions, write some code that takes two strings, prints them with the first letter capitalized, prints them with all letters capitalized, prints the first and last letter of each, prints the length of each, and then prints the concatenation of the two strings. Do it two different ways:

    - Write a .py file that uses `argv`. After the script works, paste the text of the file into your Jupyter notebook.
    - In your Jupyter notebook, comment out the `argv` portions and hard code in the values of your strings. Then make sure the code runs the same.

Answer for 2-1:

```python
# assign3_qB2.py
from sys import argv

s1 = argv[1] # 'apple'
s2 = argv[2] # 'banana'

def exerciseB2(string1, string2):
    print(string1.capitalize(), string2.capitalize())
    print(string1.upper(), string2.upper())
    print(string1[0], string1[-1], string2[0], string2[-1])
    print(len(string1), len(string2))
    print(len(string1)+len(string2))

exerciseB2(s1, s2)
```

Answer for 2-2:

In [24]:
# from sys import argv

s1 = 'apple' # argv[1]
s2 = 'banana' # argv[2]

def exerciseB2(string1, string2):
    print(string1.capitalize(), string2.capitalize())
    print(string1.upper(), string2.upper())
    print(string1[0], string1[-1], string2[0], string2[-1])
    print(len(string1), len(string2))
    print(len(string1)+len(string2))

exerciseB2(s1, s2)

Apple Banana
APPLE BANANA
a e b a
5 6
11

3. Using a text editor, create a comma-separated values (CSV) file with 5 columns and 5 rows. Save it in the same directory as your Jupyter notebook. In the Jupyter notebook, read and print the file in different ways, and write new files, as follows:

    - Read your CSV file using `read()`, `readline()`, or `readlines()`, and print the output to the screen (`print()` command is optional in notebooks!).
    - Do the same but use a `with` block and a different one of `read()`, `readline()`, or `readlines()`.
    - Using either of the two above methods, then change one row of data, and write your data to a new CSV file.
    - Read your CSV file using Pandas and display the resulting DataFrame.
    - Save your DataFrame to a new file using Pandas.

Answer for 3-1:

In [26]:
txt = open('../../data/assign3_qB3.csv')
print(txt.read())
txt.close()

index,col1,col2,col3,col4
row1,1,2,3,4
row2,5,6,7,8
row3,9,10,11,12
row4,13,14,15,16

Answer for 3-2:

In [27]:
with open('../../data/assign3_qB3.csv', 'r') as f:
    print(f.read())

index,col1,col2,col3,col4
row1,1,2,3,4
row2,5,6,7,8
row3,9,10,11,12
row4,13,14,15,16

Answer for 3-3:

In [28]:
with open('../../data/assign3_qB3.csv', 'r') as f:
    data = f.readlines()
    data[2] = 'row2,17,18,19,20\n'
with open('assign3_qB3a.csv', 'w') as target:
    for row in data:
        target.write(row)

In [29]:
data

['index,col1,col2,col3,col4\n',
 'row1,1,2,3,4\n',
 'row2,17,18,19,20\n',
 'row3,9,10,11,12\n',
 'row4,13,14,15,16\n']

Answer for 3-4:

In [30]:
import pandas as pd
df = pd.read_csv('../../data/assign3_qB3.csv', index_col=0)
df

       col1  col2  col3  col4
index
row1      1     2     3     4
row2      5     6     7     8
row3      9    10    11    12
row4     13    14    15    16

Answer for 3-5:

In [31]:
df.to_csv('assign3_qB3b.csv')